body {
  text-align: center;
  background-image: linear-gradient(to bottom right, orange, cyan);
  background-repeat: no-repeat;
}
img {
  border-radius: 40%;
  width: 400px
    
}
h1 {
  text-shadow: 2px 2px #FFFFFF;
  font-size: 20px
 
}
#bio {
  padding: 20px;
  font-size: 18px;